.breadcrumb{
    width:102%;
    margin-left: -15px;
    border-bottom: 1px solid $menuBorderColor !important;
    padding: 5px 15px 4px !important;
    border-radius: 0px !important;
    margin-bottom: 10px !important;
    margin-top:-10px;
    background-color:$backColor!important;
}

.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.1rem!important;
    padding-left: 0.1rem!important;
}

.breadcrumb {
    li, li a{
        color: #777;
    }

    li > i.fa{
        cursor: pointer;
        color: #2A2A2A;
        padding: 3px 5px 6px;
        border: 1px solid #D4D4D4;
        width: 24px;
        height: 24px;
        margin: 0px 2px 0px 1px;
    }

    li > i.fa:hover{
        border: 1px solid $mainColor;
        color: $mainColor !important;
    }
}

@media (max-width: 600px) {
    .breadcrumb{ 
        display: none;
    }
}