// COLOR

$mainColor: #453B7F;
$secondColor:#ED7539;

$backColor: #FAFAFA;
$backColor2: #F4F1F1;
$borderColor: #EEEEEE;
$darkBorder: #D4D4D4;


$menuBorderColor: #D4D4D4;

$linkColor: #3B7FC8;
$fadedColor: #C1C1C1;
$darkTextColor: #757575;

$groupLineColor: #AFAFAF;

// FONT
$ubuntoFont: 'Ubuntu Condensed', sans-serif;
$menuFont: Verdana, Geneva, Tahoma, sans-serif;
$mainFont: $menuFont; // "Helvetica Neue", Helvetica, Arial, sans-serif;
$tableFont: 'Segoe UI', 'Lucida Grande','Ubuntu','sans-serif';


// FONT SIZE
$smallFontSize: 12px;
$mediumFontSize: 14px;
$largeFontSize: 16px;

//Background

$grayBack: #EEE7E7; // #3E3E3E;


$bd-warning: #F3AE58;
$bd-info: #5bc0de;
$bd-danger: #d9534f;
$bd-success: #00A64F;
$bd-default: #6c757d;
$bd-primary: #007bff;

// TABLE

$subTableBack: #F8F3F3;
$subTableContainerBack: #DEDEDE;


